{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  fullName = "Richard Simpson"
  codespaces = {{ $codespaces }}
{{- if $codespaces }}
  email = "rsimpson@uship.com"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
  email = "{{ promptString "email" }}"
{{- end }}