[user]
	email = "{{ .email }}"
	name = "{{ .fullname }}"
[core]
	editor = code --wait
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.4.0/bin/gh auth git-credential
