# Add go
PATH="/usr/local/go/bin:$HOME/go/bin:$PATH"

# Add general tools to path
PATH="$HOME/bin:$PATH"

# Add dotnet tools
PATH="$HOME/.dotnet/tools:$PATH"

# Add krew
PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

export PATH

eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)

source "$HOME/.aws-vault"

{{ if (eq .chezmoi.os "linux") -}}
{{   if (contains "microsoft" .chezmoi.kernel.osrelease) -}}
code() {
  /mnt/c/Program\ Files/Microsoft\ VS\ Code/bin/code "$@"
}

BROWSER=wslview
{{   end -}}
{{ end -}}