#!/bin/zsh

echo "Upgrading system packages..."
sudo apt-get update -qq
sudo apt-get install -yqq build-essentials apt-transport-https ca-certificates curl software-properties-common libssl-dev libffi-dev git wget nano gpg pass gnupg jq ripgrep bat

echo "Update antigen..."
mkdir -p "$HOME/.antigen/"
curl -sL git.io/antigen > "$HOME/.antigen/antigen.zsh"

echo "Upgrading dotnet..."
curl -sSL -o- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor -o- | sudo apt-key add -
sudo curl -sSL https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list -o /etc/apt/sources.list.d/microsoft-prod.list 
sudo chown root:root /etc/apt/sources.list.d/microsoft-prod.list

sudo apt-get update -qq
sudo apt-get install dotnet-sdk-6.0 -yqq

echo "Upgrading go..."
GO_VERSION=1.18.4
if [[ -d /usr/local/go ]] ; then
    # Todo: better update logic
    sudo rm -rf /usr/local/go
fi

curl -sSL https://dl.google.com/go/go$GO_VERSION.linux-amd64.tar.gz -o /tmp/go.tar.gz && \
    sudo tar -C /usr/local -xzf /tmp/go.tar.gz && \
    rm /tmp/go.tar.gz

echo "Upgrading rust..."
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --profile complete --quiet --no-modify-path -y

echo "Install kubectl repo..."
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list

{{ if (eq .chezmoi.os "linux") -}}
{{   if (contains "microsoft" .chezmoi.kernel.osrelease) -}}
echo "Install wslu repo"
sudo add-apt-repository ppa:wslutilities/wslu -y

{{   end -}}
{{ end -}}

echo "Updating and cleaning packages"
sudo apt-get update -qq
sudo apt-get upgrade -yqq
sudo apt-get autoremove -yqq

echo "Installing Homebrew"
yes | /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

echo "Installing Starship 🚀"
brew install starship --force --quiet

echo "Installing Kubectl"
sudo apt-get install -yqq kubectl

echo "Install openconnect"
sudo apt-get install openconnect -yqq

echo "Install bitwarden-cli"
brew install bitwarden-cli --force --quiet

echo "Installing zoxide"
brew install zoxide --force --quiet

echo "Installing yq"
brew install yq --force --quiet

echo "Install asdf"
brew install asdf gpg gawk --force --quiet

echo "Installing asdf plugins"
asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf plugin add terraform https://github.com/asdf-community/asdf-hashicorp.git
asdf plugin-add terraform-ls https://github.com/asdf-community/asdf-hashicorp.git
asdf plugin-add direnv

{{ if (eq .chezmoi.os "linux") -}}
{{   if (contains "microsoft" .chezmoi.kernel.osrelease) -}}
sudo apt-get install wslu
{{   end -}}
{{ end -}}