#!/bin/zsh
if ! grep -q "Custom" /etc/resolv.conf ; then
    echo "# Custom Nameservers" > /tmp/resolv.conf
    cat {{ .chezmoi.homedir }}/.resolv.conf.add >> /tmp/resolv.conf
    cat /etc/resolv.conf >> /tmp/resolv.conf
    chmod 0644 /tmp/resolv.conf
    mv /tmp/resolv.conf /etc/resolv.conf
fi
