#!/bin/sh
set -e # -e: exit on error

{{- if .codespaces -}}
# We only need homebrew in Codepsaces
sudo apt-get update -qq

echo "Installing Homebrew"
yes | /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

sudo apt-get install openconnect
{{- else -}}
./install-tools.sh
{{- end -}}